body{
    font-family: 'Mali', cursive;
    color:darksalmon;
    background:url(https://i.ytimg.com/vi/uhlBqFj9kDw/maxresdefault.jpg);
    background-size:cover;
    }
img{
   height:200px; 
    }
#rar{
    color:darksalmon;
    }    